<%= form_with(model: utilisateur) do |form| %>
  <% if utilisateur.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(utilisateur.errors.count, "error") %> prohibited this utilisateur from being saved:</h2>

      <ul>
        <% utilisateur.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :surnom, style: "display: block" %>
    <%= form.text_field :surnom %>
  </div>

  <div>
    <%= form.label :prenom, style: "display: block" %>
    <%= form.text_field :prenom %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
