<div id="<%= dom_id utilisateur %>">
  <p>
    <strong>Surnom:</strong>
    <%= utilisateur.surnom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= utilisateur.prenom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= utilisateur.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= utilisateur.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= utilisateur.bio %>
  </p>

</div>
