<p style="color: green"><%= notice %></p>

<%= render @utilisateur %>

<div>
  <%= link_to "Edit this utilisateur", edit_utilisateur_path(@utilisateur) %> |
  <%= link_to "Back to utilisateurs", utilisateurs_path %>

  <%= button_to "Destroy this utilisateur", @utilisateur, method: :delete %>
</div>
