<%= form_with(model: enregistre) do |form| %>
  <% if enregistre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enregistre.errors.count, "error") %> prohibited this enregistre from being saved:</h2>

      <ul>
        <% enregistre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :utilisateur_dossier_id, style: "display: block" %>
    <%= form.collection_select :utilisateur_dossier_id, UtilisateurDossier.order(:nom), :id, :information, prompt:"Choisissez un utilisateur_dossier" %>
  </div>

  <div>
    <%= form.label :publication_id, style: "display: block" %>
    <%= form.collection_select :publication_id, Publication.order(created_at: :desc), :id, :description, prompt:"Choisissez un publication" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
