<p style="color: green"><%= notice %></p>

<% content_for :title, "Enregistres" %>

<h1><%= @utilisateur_dossier.nom %> - Collection de Publications Enregistrés</h1>

<p><%= link_to "Retourner aux Dossiers", utilisateur_dossiers_path %> | <%= link_to "Supprimer ce dossier", @utilisateur_dossier, method: :delete %>
<%= render partial: "shared/publication_feed", locals: { show_commentaires: true } %>
