<p style="color: green"><%= notice %></p>

<%= render @enregistre %>

<div>
  <%= link_to "Edit this enregistre", edit_enregistre_path(@enregistre) %> |
  <%= link_to "Back to enregistres", enregistres_path %>

  <%= button_to "Destroy this enregistre", @enregistre, method: :delete %>
</div>
