<div class="comment-section" id="comment-section-<%= publication.id %>">
  <div id="commentaires-<%= publication.id %>">
    <% commentaires.each do |commentaire_instance| %>
      <%= render partial: "commentaires/commentaire", locals: {commentaire_instance: commentaire_instance, publication: publication} %>
    <% end %>
  </div>

  <div id="new-comment-form">
    <h2>Laisser un commentaire:</h2>
    <%= form_with(url: publication_commentaires_path(publication), scope: :commentaire, data: { turbo: true }) do |form| %>
      <%= form.hidden_field :utilisateur_id, value: current_utilisateur.id %>
      <%= form.hidden_field :publication_id, value: publication.id %>

      <div>
        <%= form.label :contenue, "Votre commentaire" %><br>
        <%= form.text_area :contenue %>
      </div>

      <div>
        <%= form.submit "Commenter" %>
      </div>
    <% end %>
  </div>
</div>
