<%= form_with(model: signalement) do |form| %>
  <% if signalement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(signalement.errors.count, "error") %> prohibited this signalement from being saved:</h2>

      <ul>
        <% signalement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial: "shared/publication", locals: {publication: publication} %>

  <%= form.hidden_field :utilisateur_id, value: current_utilisateur.id %>
  <%= form.hidden_field :publication_id, value: publication.id %>
  <%= form.hidden_field :etat, value: "non-résolu" %>

  <div>
    <%= form.label :raison, style: "display: block" %>
    <%= form.text_area :raison %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
