<div class="field_shown" id="<%= dom_id signalement %>">
  <p>
    <strong>Laissée par:</strong>
    <%= signalement.utilisateur.surnom %>
  </p>

  <p>
    <strong>Raison:</strong>
    <%= signalement.raison %>
  </p>

  <p>
    <strong>Etat:</strong>
    <%= signalement.etat %>
  </p>

  <strong>Publication en question:</strong>
  <%= render partial: "shared/publication", locals: {publication: signalement.publication} %>
</div>
