<p style="color: green"><%= notice %></p>

<%= render @signalement %>

<div>

  <% if utilisateur_signed_in? && current_utilisateur.id==@signalement.utilisateur_id %>
    <%= button_to "Destroy this signalement", @signalement, method: :delete %>
    <%= link_to "Edit this signalement", edit_signalement_path(@signalement) %> |
  <% end %>
  <%= link_to "Back to signalements", signalements_path %>
</div>
