<div id="<%= dom_id notification %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= notification.utilisateur_id %>
  </p>

  <p>
    <strong>Source utilisateur:</strong>
    <%= notification.source_utilisateur_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= notification.publication_id %>
  </p>

  <p>
    <strong>Commentaire:</strong>
    <%= notification.commentaire_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= notification.type %>
  </p>

  <p>
    <strong>Lu:</strong>
    <%= notification.lu %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= notification.date %>
  </p>

</div>
