<p style="color: green"><%= notice %></p>

<% content_for :title, "Mes Liked Publications" %>

<h1>Mes Liked Publications</h1>

<% if false %>
<div id="likes">
  <% @likes.each do |like| %>
    <%= render like %>
    <p>
      <%= link_to "Show this like", like %>
    </p>
  <% end %>
</div>

<%= link_to "New like", new_like_path %>
<% end %>

<%= render "shared/publication_feed" %>
