<div class="field_shown" id="<%= dom_id utilisateur %>">
  <p>
    <strong>Surnom:</strong>
    <%= utilisateur.surnom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= utilisateur.prenom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= utilisateur.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= utilisateur.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= utilisateur.bio %>
  </p>

  <% if utilisateur_signed_in? && controller.controller_name=="amis" %>
      <%= link_to "Enlever comme amis", utilisateur_ami_path(current_utilisateur.id, utilisateur.id), method: :delete, form: { data: { turbo_stream: true } }, class: "remove-ami-link" %>
  <% end %>

</div>
