<div id="<%= dom_id commentaire %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= commentaire.utilisateur_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= commentaire.publication_id %>
  </p>

  <p>
    <strong>Date publiee:</strong>
    <%= commentaire.date_publiee %>
  </p>

  <p>
    <strong>Contenue:</strong>
    <%= commentaire.contenue %>
  </p>

</div>
