<p style="color: green"><%= notice %></p>

<%= render @utilisateur_dossier %>

<div>
  <%= link_to "Edit this utilisateur dossier", edit_utilisateur_dossier_path(@utilisateur_dossier) %> |
  <%= link_to "Back to utilisateur dossiers", utilisateur_dossiers_path %>

  <%= button_to "Supprimer ce dossier", @utilisateur_dossier, method: :delete %>
</div>
