<%= render partial: "shared/utilisateur", locals: { utilisateur: (ami.utilisateur_1.id == current_utilisateur.id) ? ami.utilisateur_2 : ami.utilisateur_2 } %>

<% if false %>
<div class="field_shown" id="<%= dom_id ami %>">
  <p>
    <strong>Utilisateur 1:</strong>
    <%= ami.utilisateur_1.surnom %>
  </p>

  <p>
    <strong>Utilisateur 2:</strong>
    <%= ami.utilisateur_2.surnom %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ami.status %>
  </p>

</div>
<% end %>
