<%= form_with(model: ami) do |form| %>
  <% if ami.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ami.errors.count, "error") %> prohibited this ami from being saved:</h2>

      <ul>
        <% ami.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :utilisateur_1_id, style: "display: block" %>
    <%= form.text_field :utilisateur_1_id %>
  </div>

  <div>
    <%= form.label :utilisateur_2_id, style: "display: block" %>
    <%= form.text_field :utilisateur_2_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
